<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AiryURL</key>
	<string>http://mac.eltima.com/youtube-downloader-mac.html?utm_source=Folx%20build&amp;utm_medium=build&amp;utm_campaign=Airy%20in%20Folx</string>
	<key>BuildMachineOSBuild</key>
	<string>16F73</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Folx</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>torrent</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filesicon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-bittorrent</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Bittorrent Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>folx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filesicon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Folx Download file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Folx</string>
	<key>CFBundleGetInfoString</key>
	<string>Folx 3.0</string>
	<key>CFBundleIconFile</key>
	<string>folxicon</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string></string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.eltima.Folx3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>3.0</string>
	<key>CFBundleName</key>
	<string>Folx</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>magnet URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>magnet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Folx Run scheduled tasks</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rstf3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Folx Open at Login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oalf3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Folx Extension URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openinfolx3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>FTP site URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>13690</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>FRFeedbackReporter.defaultSender</key>
	<string>firstEmail</string>
	<key>FRFeedbackReporter.sendDetailsIsOptional</key>
	<string>YES</string>
	<key>FRFeedbackReporter.targetURL</key>
	<string>https://feedback.eltima.com/emailstore/submit.php?application=%@</string>
	<key>FolxExtensionsURL</key>
	<string>http://mac.eltima.com/download/ext/folx/install/?utm_source=folx&amp;utm_medium=software&amp;utm_campaign=softwaretracking</string>
	<key>FolxFeaturesURL</key>
	<string>https://mac.eltima.com/download-manager.html#features</string>
	<key>FolxHelpURL</key>
	<string>http://wiki.eltima.com/user-guides/download-manager.html</string>
	<key>FolxProductURL</key>
	<string>https://mac.eltima.com/download-manager.html</string>
	<key>FolxPurchaseURL</key>
	<string>http://mac.eltima.com/downloader.html?utm_source=folx&amp;utm_medium=software&amp;utm_campaign=softwaretracking</string>
	<key>FolxPurchaseURL2</key>
	<string>https://eltima.cleverbridge.com/389/?scope=checkout&amp;cart=135447&amp;affiliate=44088</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Eltima Software. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>FolxApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Download links with Folx</string>
			</dict>
			<key>NSMessage</key>
			<string>openURL</string>
			<key>NSPortName</key>
			<string>Folx</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeString</string>
				<string>public.url</string>
				<string>NSStringPboardType</string>
				<string>NSURLPboardType</string>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>Folx4.sdef</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUExpectsDSASignature</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://update.eltima.com/download/folx-updater/folx.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
