<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Folx3Plugin</string>
	<key>CFBundleGetInfoString</key>
	<string>Folx 3 Browser Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.eltima.Folx3.plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>WebPluginDescription</key>
	<string>Folx 3 Browser Plugin. Allows downloads to be redirected to Eltima Folx 3.</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/binary</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Disk Image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/bzip2</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>bz2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>bzip2 archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/disk-image</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Disk Image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/dmg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Disk Image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/download</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp4</string>
				<string>avi</string>
				<string>mp3</string>
				<string>rar</string>
				<string>bin</string>
				<string>bz2</string>
				<string>gz</string>
				<string>dmg</string>
				<string>tgz</string>
				<string>lha</string>
				<string>lzh</string>
				<string>exe</string>
				<string>tar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Binary file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/force-download</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Disk Image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/mac-binhex40</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>hqx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>BinHex file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/mac-compactpro</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>cpt</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Compact Pro archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/macbinary</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>bin</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MacBinary file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/msword</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>doc</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Microsoft Word file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/octet-stream</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp4</string>
				<string>avi</string>
				<string>mp3</string>
				<string>rar</string>
				<string>bin</string>
				<string>bz2</string>
				<string>gz</string>
				<string>dmg</string>
				<string>tgz</string>
				<string>lha</string>
				<string>lzh</string>
				<string>exe</string>
				<string>tar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Binary file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/ogg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>ogg</string>
				<string>ogv</string>
				<string>webm</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Ogg Media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/pdf</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>PDF document</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/postscript</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>ps</string>
				<string>eps</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Postscript file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/stuffit</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>sit</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Stuffit Archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/vnd.ms-excel</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>xls</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Microsoft Excel document</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/vnd.ms-powerpoint</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>ppt</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>PowerPoint presentation</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-apple-diskimage</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Disk Image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-bittorrent</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>torrent</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Bittorrent file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-bz2</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>bz2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>bzip2 archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-bzip2</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>bz2</string>
				<string>tbz</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>bzip2 archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-compress</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>taz</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Compressed Tape ARchive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-disk-image</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Disk Image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-diskcopy</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Disk Image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-dosexec</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>exe</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MS-DOS Executable</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-download</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp4</string>
				<string>avi</string>
				<string>mp3</string>
				<string>rar</string>
				<string>bin</string>
				<string>bz2</string>
				<string>gz</string>
				<string>dmg</string>
				<string>tgz</string>
				<string>lha</string>
				<string>lzh</string>
				<string>exe</string>
				<string>tar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Binary file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-dvi</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dvi</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>DVI file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-gtar</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>tgz</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Gzipped tar archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-gzip</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>gz</string>
				<string>tgz</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>GZip archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-macbinary</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>bin</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MacBinary file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-msdownload</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>exe</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Executable</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-msvideo</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AVI video file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-octet-stream</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG Layer 3 Audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-pilot</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>prc</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Palm Digital Book</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-quartzcomposer</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>qtz</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Quartz Composer file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-rar</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>rar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>RAR archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-rar-compressed</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>rar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>RAR archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-sit</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>sit</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Stuffit Archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-stuffit</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>sitx</string>
				<string>sit</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Stuffit Archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-tar</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>gz</string>
				<string>tgz</string>
				<string>tar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>GZip archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-url-list</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>urls</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Streamload data</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-zip</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Zip archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-zip-compressed</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Zip archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/zip</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Zip archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/zip-compressed</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Zip archive</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/audible</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>aa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Audible Content</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mp3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG Layer 3 Audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG Layer 3 Audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mpeg3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG Layer 3 Audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/shorten</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>shn</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Shorten audio file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-aac</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>aac</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Advanced Audio Coding</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-audible</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>aa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Audible Content</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-flac</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>FLAC</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-mp3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG Layer 3 Audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG Layer 3 Audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-mpeg3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG Layer 3 Audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-shorten</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>shn</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Shorten audio file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>chemical/x-pdb</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>pdb</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Palm Digital Book</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/avi</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AVI video file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/mp4</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpg4</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG-4 Video file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG video</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/ms-wmv</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media Player Video</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/msvideo</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media Player Video</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/ogg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>ogg</string>
				<string>ogv</string>
				<string>webm</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Ogg Video</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/x-mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG video</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/x-ms-asf</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media Player Video</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/x-ms-wmv</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media Player Video</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/x-msvideo</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>avi</string>
				<string>wmv</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AVI video file</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Folx 3 Browser Plugin</string>
</dict>
</plist>
