<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>music</string>
		<key>extensions</key>
		<array>
			<string>flac</string>
			<string>m4a</string>
			<string>mp3</string>
			<string>aac</string>
			<string>wma</string>
			<string>wav</string>
			<string>ape</string>
		</array>
		<key>tags</key>
		<array>
			<string>aac</string>
			<string>music</string>
			<string>mp3</string>
			<string>pop</string>
			<string>rock</string>
			<string>other</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>video</string>
		<key>extensions</key>
		<array>
			<string>mp4</string>
			<string>flv</string>
			<string>m4v</string>
			<string>asf</string>
			<string>mpeg</string>
			<string>mkv</string>
			<string>mpg</string>
			<string>divx</string>
			<string>div</string>
			<string>3gp</string>
			<string>wmv</string>
			<string>avi</string>
			<string>mov</string>
			<string>vob</string>
			<string>ogg</string>
			<string>ogv</string>
			<string>webm</string>
		</array>
		<key>tags</key>
		<array>
			<string>movie</string>
			<string>youtube</string>
			<string>video</string>
			<string>comedy</string>
			<string>other</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>applications</string>
		<key>extensions</key>
		<array>
			<string>exe</string>
			<string>app</string>
			<string>pkg</string>
			<string>zip</string>
			<string>rar</string>
			<string>dmg</string>
		</array>
		<key>tags</key>
		<array>
			<string>game</string>
			<string>application</string>
			<string>utility</string>
			<string>other</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>documents</string>
		<key>extensions</key>
		<array>
			<string>odf</string>
			<string>txt</string>
			<string>odc</string>
			<string>xlsx</string>
			<string>docx</string>
			<string>doc</string>
			<string>pdf</string>
			<string>xls</string>
		</array>
		<key>tags</key>
		<array>
			<string>office</string>
			<string>pdf</string>
			<string>doc</string>
			<string>text</string>
			<string>other</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>images</string>
		<key>extensions</key>
		<array>
			<string>jpg</string>
			<string>png</string>
			<string>tiff</string>
			<string>gif</string>
			<string>bmp</string>
		</array>
		<key>tags</key>
		<array>
			<string>photo</string>
			<string>nature</string>
			<string>wallpaper</string>
			<string>picture</string>
			<string>other</string>
		</array>
	</dict>
</array>
</plist>
